body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.1);
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    background: #fceffb;
    padding: 20px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    transition: color 0.3s ease;
}

.header-content h1:hover {
    color: #007BFF;
}

.header-content p {
    margin: 5px 0;
    color: #666;
}

header a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    text-decoration: underline;
    color: #0056b3;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8em;
    border-left: 5px solid #333;
    padding-left: 10px;
    color: #333;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

section h2:hover {
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px; /* Add border radius to the table */
    overflow: hidden;
    border-color: #333; /* Ensure rounded corners */
}

table, th, td {
    border: 1px solid #756565;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffb8b8;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

ul li:hover {
    transform: translateX(10px);
}

p {
    margin: 5px 0;
}
